{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{% static 'app_exames/css/details_styles.css' %}">
    <title>Detalhes do Exame</title>
</head>
<body>
    <nav class="navbar">
        <a href="#" class="logo-container">
            <img src="{% static 'app_exames/images/logo.png' %}" class="logo">
            <span class="site-name">AgendaMed</span>
        </a>
    </nav>
    <div class="form-container">
        <h2 class="form-heading">Exame #{{ object.pk|stringformat:'06d' }}</h2>

        <table class="form-table">
        <tr>
            <th>Nome Completo</th>
            <td>{{ object.nome }}</td>
        </tr>
        <tr>
            <th>Data de Nascimento</th>
            <td>{{ object.data_nascimento }}</td>
        </tr>
        <tr>
            <th>Gênero</th>
            <td>{{ object.get_genero_display }}</td>
        </tr>
        <tr>
            <th>CPF</th>
            <td>{{ object.cpf }}</td>
        </tr>
        <tr>
            <th>Data/Hora do Cadastro</th>
            <td>{{ object.data_cadastro }}</td>
        </tr>
    </table>
    
    <div class="details-button-container">
        <a href="{% url 'exame-update' exame.pk %}" class="function-button">
            <img src="{% static 'app_exames/images/edit-button.png' %}" class="function-button-edit">
            Editar
        </a>

        <a href="{% url 'exame-delete' exame.pk %}" class="function-button">
            <img src="{% static 'app_exames/images/delete-button.png' %}" class="function-button-delete">
            Deletar
        </a>

        <a href="{% url 'exame-list' %}" class="function-button">
            <img src="{% static 'app_exames/images/back-button.png' %}" class="function-button-back">
            Voltar
        </a>
    </div>
</body>
</html>