{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{% static 'app_exames/css/queue_styles.css' %}">
    <title>AgendaMed Fila</title>
</head>
<body>
    <nav class="navbar">
        <a href="" class="logo-container">
            <img src="{% static 'app_exames/images/logo.png' %}" class="logo">
            <span class="site-name">AgendaMed</span>
        </a>
    </nav>
    <div class="queue-container">
        <h1 class="queue-heading">Fila para Exame Clínico</h1>

        <div class="queue-buttons-container">
            <a href="{% url 'exame-create' %}" class="new-exam-button">
                <img src="{% static 'app_exames/images/patient.png' %}">
                Cadastrar Exame
            </a>
        </div>

        <table class="queue-table">
        {% if exames %}
        <thead>
            <tr>
                <th>Chamada</th>
                <th>Status</th>
                <th>Detalhes</th>
            </tr>
        </thead>
        <tbody>
            {% for exame in exames %}

            {% if exame == first_form %}
            <tr class="current-patient">
                <td>{{ exame.pk|stringformat:'06d' }}</td>
                <td >Aguardando atendimento...</td>
                <td>
                    <a href="{% url 'exame-detail' exame.pk %}" class="details-button">
                        <img src="{% static 'app_exames/images/edit-button.png' %}">
                    </a>
                </td>
            {% else %}
            <tr>
                <td>{{ exame.pk|stringformat:'06d' }}</td>
                <td></td>
                <td>
                    <a href="{% url 'exame-detail' exame.pk %}" class="details-button">
                        <img src="{% static 'app_exames/images/edit-button.png' %}">
                    </a>
                </td>
            {% endif %}
            </tr>
            {% endfor %}
        </tbody>
        {% else %}
            <td colspan="4">Nenhum exame cadastrado</td>
        {% endif %}
    </table>

    <div class="page-navigation">
        <div>
            <span>
                {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
            </span>

            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; Início</a>
                <a href="?page={{ page_obj.previous_page_number }}">Anterior</a>
            {% endif %}

            {% for num in page_obj.paginator.num_range %}
                {% if page_obj.numer == num %}
                    <strong>{{num}}</strong>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a href="?page={{ num }}">{{num}}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Próximo</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">Último &raquo;</a>
            {% endif %}
        </div>
    </div>
</body>
</html>