* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ddd;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #3c9cc6;
    user-select: none;
}

.logo-container {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo {
    height: 50px;
    margin-right: 10px;
}

.site-name {
    font-size: 1.6rem;
    font-weight: bold;
    color: #fff;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
}

.form-heading {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.form-table {
    width: 60%;
    max-width: 600px;
    border-collapse: collapse;
    border: 2px solid #bbb;
}

.form-table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 2px solid #aaa;
    background-color: #f8f9fa;
}

.form-table th {
    background-color: #ddd;
    border-bottom: 2px solid #aaa;
}

.form-table th:nth-child(1) {
    width: 40%;
}

.details-button-container {
    display: flex;
}

.function-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin: 0 5px;
    text-decoration: none;
    color: #000;
}

.function-button-edit {
    width: 30px;
}

.function-button-delete, .function-button-back {
    width: 25px;
}